<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="reggae_beats.com.reggaebeats">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainActivity"
            android:label="Reggae Beats"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PlayListActivity"
            android:theme="@style/AppTheme" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".PlayerStoreFront"
            android:label="@string/title_activity_player_store_front"
            android:theme="@style/AppTheme" />
        <activity android:name=".MusicStreamingActivity" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".PairRequestActivity" />
        <activity android:name=".FriendRequestActivity" />
        <activity
            android:name=".Chat_PairingActivity"
            android:label="@string/title_activity_chat__pairing"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".DropboxActivity"
            android:label="@string/title_activity_dropbox"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>